<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('http://cache.marieclaire.fr/data/photo/w2000_ci/1bi/vin-chaud-noel.jpg');">
  <div class="banner-content">
    <h1>Cocktails&Co</h1>
    <p>Le meilleur moyen de personnaliser sa soirée</p>
    <%= link_to 'Créer un cocktail', new_cocktail_path, class: "btn btn-primary" %>
  </div>
</div>




