<nav class="navbar-perso">
  <ul>
    <li>Cocktails Index</li>
    <li>Créer un cocktail</li>
    <li>...</li>
    <li>...</li>
    <li>...</li>
    <li>...</li>
    <li>...</li>
    <li>...</li>
    <li>...</li>
    <li>...</li>
    <li>...</li>
    <li>...</li>
  </ul>
</nav>
